<h2>Select a {{fieldname}} below:</h2>
<h4>This will find the group of players from a specific game with the maximum value of the chosen statistic.</h4>
<form method="POST"> 
	<br>
	Statistics: <select name="statistics">
        <option value="points_for">Points Scored</option>
        <option value="points_against">Points by Other Team</option> 
        <option value="Fouls_by_Team">Fouls</option>
        <option value="Fouls_by_Opponent">Fouls by Other Team</option>
        <option value="assists">Assists</option>
        <option value="turnovers">Turnovers</option>
        <option value="assists_against">Assists Against</option>
        <option value="turnovers_forced">Turnovers Forced</option>
        <option value="shots_missed">Shots Missed</option>
        <option value="shot_attempts">Shot Attempts</option>
        <option value="FT_missed">Free Throws Missed</option>
        <option value="FT_attempted">Free Throws Attempted</option>       
    </select><br>
    <br>
    <br>
	<input type="submit">
</form>